streamlit
pandas
numpy
fastapi
uvicorn
google-generativeai
fitz
sentence-transformer
langchain
openai
chromadb
pypdf
faiss-cpu
python-dotenv
PyMuPDF
sqlalchemy
requests
authlib
python-multipart
aiofiles
